@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@theme inline {
  --font-sans: 'Roboto Condensed', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
  background-color: #0a1628;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #06101e;
}
::-webkit-scrollbar-thumb {
  background: #c8a855;
  border-radius: 3px;
}
