@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@theme {
	--font-sans:
		'Montserrat', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
		'Segoe UI Symbol', 'Noto Color Emoji';
	--color-secondary: #232423;
	--color-third: #2f3130;
	--color-primary: #cfcfcf;
}

@layer base {
	html {
		scroll-behavior: smooth;
	}
	body {
		margin: 0;
		color: #2b2c2b;
	}
}

.paragraph {
	line-height: 1.75rem;
	letter-spacing: 0.2%;
	color: #cfcfcf;
}

.paragraph-light {
	line-height: 1.75rem;
	letter-spacing: 0%;
	color: #cfcfcf;
	font-weight: 300;
}

.paragraph-smaller {
	line-height: 1.5rem;
	letter-spacing: 0%;
	color: #cfcfcf;
	font-size: 0.875rem;
}

.heading-light {
	font-size: 1.25rem;
	line-height: 2.125rem;
	letter-spacing: 0%;
	color: #ffffff;
	font-weight: 300;
}
